<div class="panel panel-primary">
  <div class="panel-heading">
    Movies
  </div>
  <div class="panel-body">
    <!-- Search input -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="searchTerm">Filter movies:</label>
          <input type="text" class="form-control" [(ngModel)]="searchTerm" />
        </div>
      </div>
    </div>
    <!-- Movies list -->
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th>Name</th>
              <th>Language</th>
              <th>Type</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of (movies | async | moviesFilter:searchTerm); index as i">
              <td>{{ i+1 }}.</td>
              <td>
                <img [src]="movie.imageUrl" />
              </td>
              <td>{{ movie.name }}</td>
              <td>{{ movie.language }}</td>
              <td>{{ movie.type }}</td>
              <td><app-star [rating]="movie.rate"></app-star></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
